In [2]:
import warnings
import pandas as pd
import numpy as np

# ignore all warnings
warnings. filterwarnings("ignore")

# read data into dataframe variable df
df = pd.read_csv("D:\ProjectData\weatherAus.csv")
print('Size of weather data frame is :', df.shape)

# display first few rows of data
df.head()

Size of weather data frame is : (142193, 24)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [3]:
# give basic statistics of each column 
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [4]:
col_names = df.columns

col_names

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [5]:
df.count().sort_values()

Sunshine          74377
Evaporation       81350
Cloud3pm          85099
Cloud9am          88536
Pressure9am      128179
Pressure3pm      128212
WindDir9am       132180
WindGustDir      132863
WindGustSpeed    132923
WindDir3pm       138415
Humidity3pm      138583
Temp3pm          139467
WindSpeed3pm     139563
Humidity9am      140419
RainToday        140787
Rainfall         140787
WindSpeed9am     140845
Temp9am          141289
MinTemp          141556
MaxTemp          141871
Date             142193
Location         142193
RISK_MM          142193
RainTomorrow     142193
dtype: int64

In [6]:
df = df.drop(columns=['Sunshine','Evaporation','Cloud3pm','Cloud9am', 'RISK_MM','Date'],axis=1)
df.shape

(142193, 18)

In [7]:
df = df.dropna()
df.shape

(112925, 18)

In [8]:
from sklearn import preprocessing

numerical = [var for var in df.columns if df[var].dtype=='float64']

for col in numerical:
    df[col] = preprocessing.scale(df[col])
    
df.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,0.117567,-0.108221,-0.206661,W,0.241214,W,WNW,0.577742,0.524408,0.190140,-1.380413,-1.382962,-1.142455,-0.088435,-0.047870,No,No
1,Albury,-0.841802,0.206845,-0.276405,WNW,0.241214,NNW,WSW,-1.339742,0.291310,-1.237561,-1.235963,-0.970598,-1.041848,-0.041228,0.317768,No,No
2,Albury,0.037620,0.292772,-0.276405,WSW,0.391345,W,WSW,0.457900,0.757507,-1.554828,-0.995214,-1.397181,-0.912497,0.556724,0.156887,No,No
3,Albury,-0.553991,0.622159,-0.276405,NE,-1.260094,SE,E,-0.500842,-1.223831,-1.184683,-1.669313,0.024764,-0.323229,0.100392,0.639531,No,No
4,Albury,0.773137,1.237969,-0.160165,W,0.016018,ENE,NW,-0.980214,0.058211,0.771796,-0.850764,-0.942159,-1.300551,0.053185,1.107548,No,No

In [ ]:
# scipy is not necessary here since we have already scaled our data but provides an alternative way to scale data
from scipy import stats

z = np.abs(stats.zscore(df._get_numeric_data()))
print(z)
df= df[(z < 3).all(axis = 1 )]
print(df.shape)

In [10]:
categorical = [var for var in df.columns if df[var].dtype=='object']

print("Number of categorical variables: ", len(categorical))

print(categorical)

Number of categorical variables:  6
['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [91]:
df['RainToday'].replace({'No': 0, 'Yes': 1},inplace = True)
df['RainTomorrow'].replace({'No': 0, 'Yes': 1},inplace = True)

In [12]:
categorical_columns = ['Location','WindGustDir', 'WindDir3pm', 'WindDir9am']


# print unique values in each column

for col in categorical_columns:
    print(np.unique(df[col]))

df = pd.get_dummies(df, columns=categorical_columns)

['Adelaide' 'Albury' 'AliceSprings' 'BadgerysCreek' 'Ballarat' 'Bendigo'
 'Brisbane' 'Cairns' 'Canberra' 'Cobar' 'CoffsHarbour' 'Dartmoor' 'Darwin'
 'GoldCoast' 'Hobart' 'Katherine' 'Launceston' 'Melbourne'
 'MelbourneAirport' 'Mildura' 'Moree' 'MountGambier' 'Nhil' 'NorahHead'
 'NorfolkIsland' 'Nuriootpa' 'PearceRAAF' 'Perth' 'PerthAirport'
 'Portland' 'Richmond' 'Sale' 'Sydney' 'SydneyAirport' 'Townsville'
 'Tuggeranong' 'Uluru' 'WaggaWagga' 'Walpole' 'Watsonia' 'Williamtown'
 'Witchcliffe' 'Wollongong' 'Woomera']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']

In [13]:
df[["Location_Adelaide", "Location_Albury", "Location_AliceSprings", "WindGustDir_NE", "WindDir3pm_W"]]

,Location_Adelaide,Location_Albury,Location_AliceSprings,WindGustDir_NE,WindDir3pm_W
0,0,1,0,0,0
1,0,1,0,0,0
2,0,1,0,0,0
3,0,1,0,1,0
4,0,1,0,0,0
5,0,1,0,0,1
6,0,1,0,0,1
7,0,1,0,0,1
8,0,1,0,0,0
9,0,1,0,0,0
10,0,1,0,0,0
11,0,1,0,0,0
13,0,1,0,0,0
15,0,1,0,0,0
16,0,1,0,0,0
17,0,1,0,0,0
18,0,1,0,0,0
19,0,1,0,0,0
20,0,1,0,1,0
21,0,1,0,0,1
22,0,1,0,0,0
23,0,1,0,0,1
24,0,1,0,0,0
26,0,1,0,0,0
27,0,1,0,0,0
28,0,1,0,0,0
29,0,1,0,0,0
30,0,1,0,0,0
31,0,1,0,0,0
32,0,1,0,0,0
...,...,...,...,...,...
142162,0,0,0,0,0
142164,0,0,0,0,0
142165,0,0,0,0,0
142166,0,0,0,0,0
142167,0,0,0,0,0
142168,0,0,0,0,0
142169,0,0,0,0,0
142170,0,0,0,0,0
142171,0,0,0,0,0
142172,0,0,0,0,0
142173,0,0,0,0,0
142174,0,0,0,0,0
142175,0,0,0,0,0
142176,0,0,0,0,0
142177,0,0,0,0,0
142178,0,0,0,0,0
142179,0,0,0,0,0
142180,0,0,0,0,0
142181,0,0,0,0,0
142182,0,0,0,0,0
142183,0,0,0,0,0
142184,0,0,0,0,0
142185,0,0,0,0,0
142186,0,0,0,0,0
142187,0,0,0,0,0
142188,0,0,0,0,0
142189,0,0,0,0,0
142190,0,0,0,0,0
142191,0,0,0,0,0
142192,0,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# set X to all features
X = df.loc[:,df.columns!='RainTomorrow']
# set y to our target RainTomorrow
y = df.RainTomorrow
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


logReg = LogisticRegression()
logReg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from numpy import mean


cv = KFold(n_splits=10, random_state=1, shuffle=True)


scores = cross_val_score(logReg, X, y, scoring='accuracy', cv=cv)
average_score = mean(scores)

print('Overall Accuracy:', average_score)

Overall Accuracy: 0.8565747178594751

In [32]:
logReg.predict(X_test[0:50])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0], dtype=int64)